@define-color text #b8c5d9;
@define-color background rgba(0, 0, 0, 1.0);
@define-color background-alt rgba(0, 0, 0, 1.0);
@define-color selected #002c52;
@define-color hover #002c52;
@define-color urgent #005f87;

* {
  color: @text;
  all: unset;
  font-size: 14px;
  font-family: "Iosevka";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, 0.95);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid @selected;
  border-radius: 2px;
  margin: 1px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 2px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 4px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 2.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 2px;
  background-color: @background-alt;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.image {
  margin: 1px 2px 1px 0px;
}

.summary {
  font-weight: 600;
  font-size: 1.4rem;
}

.body {
  font-weight: 600;
  font-size: 1.1rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress, .notification.normal progress {
  background-color: @selected;
}

