// Theme aligned with tig.conf colours (cursor background 57, cyan accents, magenta refs)
(
    selected_tab: Some("Cyan"),
    command_fg: Some("Green"),
    selection_bg: Some(AnsiValue(57)),
    selection_fg: Some("White"),
    cmdbar_bg: Some("Black"),
    cmdbar_extra_lines_bg: Some("Black"),
    disabled_fg: Some("DarkGray"),
    diff_line_add: Some("Green"),
    diff_line_delete: Some("Red"),
    diff_file_added: Some("Magenta"),
    diff_file_removed: Some("Magenta"),
    diff_file_moved: Some("Cyan"),
    diff_file_modified: Some("Blue"),
    commit_hash: Some("Magenta"),
    commit_time: Some("Blue"),
    commit_author: Some("Cyan"),
    danger_fg: Some("Red"),
    push_gauge_bg: Some("Blue"),
    push_gauge_fg: Some("Reset"),
    tag_fg: Some("Magenta"),
    branch_fg: Some("Cyan"),
    block_title_focused: Some("White"),
)
