@import "theme.rasi"
@import "win/center_btm.rasi"
@import "common.rasi"

#listview { lines: 4; columns: 10; }

#element { border-color: var(blackdarkest); }

#window {
    padding: 5px;
    border: 1px;
    border-color: #0d141d;
    background-color: var(blackdarkest);
}
