@import "theme.rasi"
@import "common.rasi"

#message {
    padding: 6px 6px;
    background-color: @blackwidget;
}

#textbox {
    text-color: @darkgray;
    background-color: @blackwidget;
}

#listview { lines: 12; }

 

#window {
    width:96%;
    y-offset: 20;
    location: north;
    anchor: north;
    background-color: @blackdarkest;
}
