@import "theme.rasi"
@import "common.rasi"

#message {
    padding: 6px 6px;
    background-color: var(blackwidget);
}

#textbox {
    text-color: var(darkgray);
    background-color: var(blackwidget);
}

#listview { lines: 12; }

 

#window {
    width:96%;
    y-offset: 20;
    location: north;
    anchor: north;
    background-color: var(blackdarkest);
}
