#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    theme: Some("neg"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 1,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    enable_mouse: true,
    max_fps: 240,
    reflect_changes_to_playlist: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 600, height: 600),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [(size: "80%", pane: Pane(Queue)), (size: "20%", pane: Pane(AlbumArt))],
            ),
        ),
        ( name: "Directories", pane: Pane(Directories),),
        ( name: "Artists", pane: Pane(Artists),),
        ( name: "Album Artists", pane: Pane(AlbumArtists),),
        ( name: "Albums", pane: Pane(Albums),),
        ( name: "Playlists", pane: Pane(Playlists),),
        ( name: "Search", pane: Pane(Search),),
    ],
    keybinds: (
        global: {
            ":": CommandMode,
            "2": ArtistsTab,
            "":  VolumeDown,
            "s": Stop,
            "": VolumeUp,
            "": ToggleSingle,
            "1": QueueTab,
            "?": SearchTab,
            "<Tab>": NextTab,
            "P": PlaylistsTab,
            "<S-Tab>": PreviousTab,
            "q": Quit,
            "4": AlbumsTab,
            "": ToggleRandom,
            ">": NextTrack,
            "<": PreviousTrack,
            "f": SeekForward,
            "": ToggleConsume,
            "3": DirectoriesTab,
            "p": TogglePause,
            "z": ToggleRepeat,
            "b": SeekBack,
            "w": ShowHelp,
            "O": ShowOutputs,
        },
        navigation: {
            "<C-u>": UpHalf,
            "N": PreviousResult,
            "<Space>": Add,
            "A": AddAll,
            "r": Rename,
            "n": NextResult,
            "g": Top,
            "a": Select,
            "G": Bottom,
            "h": Left,
            "<CR>": Confirm,
            "i": FocusInput,
            "J": MoveDown,
            "j": Down,
            "<C-d>": DownHalf,
            "/": EnterSearch,
            "<C-c>": Close,
            "<Esc>": Close,
            "K": MoveUp,
            "l": Right,
            "D": Delete,
            "k": Up,
        },
        queue: {
            "C": DeleteAll,
            "<Space>": JumpToCurrent,
            "<CR>": Play,
            "<C-s>": Save,
            "a": AddToPlaylist,
            "d": Delete,
        },
    ),
)
